@charset "UTF-8";
/* CSS Document */
body
{
	margin: 0px;
}

table,th,td
{
	margin-top: 5px;
	border: 1px solid #CCC;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 550px;
	table-layout:fixed;
	word-wrap: break-word;
}


.encabezado
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 135px;
	background: #084c91 url(../images/header.png) no-repeat center;
	position: relative;
	border-bottom: 1px solid #4a4a4a;
	font-family: Verdana, Geneva, sans-serif;
}
.expanded
{
	text-align: center;
	color: #FFF;
	font-size: 12px;
	padding-top: 100px;
}

.expandedd
{
	text-align: center;
	color: #084c91;
	font-size: 24px;
	font-weight: bold;
	padding-top: 10px;
}


.subtitulo
{
        text-align: center;
	font-size: 16px;
	width: 250px;
	color: #0c5095;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 40px;
}
.campo1
{       
	
        text-align: center;
	font-size: 16px;
	width: 70px;
	color: #06C;
	float: left;
}

.campo-1
{
	text-align: center;
	float: left;
	width: 100px;
	
}
.campo2
{
	text-align: center;
	font-size: 16px;
	width: 80px;
	color: #06C;
	float: left;
	white-space: pre; /* CSS 2.0 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3.0 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap; /* HP */
	word-wrap: break-word; /* IE 5+ */
	
}
    div.limpiar{
    clear: both;
    }

.campo2-2
{
	text-align: center;
	float: left;
	width: 100px;
	
}
.boton
{
	text-align: center;
	font-size: 10px;
}
.segtabla
{
	
        text-align: center;
	font-size: 19px;
	width: 550px;
	font-weight: bold;
	text-transform: uppercase;
	
}	
